In [10]:
#Curso Python

In [3]:
print("test again")

test again

In [5]:
##Let's begin

In [8]:
for i in [1,2,3]:
    print (i)

1
2
3

In [9]:
"""
Este comentario
tiene varias líneas
"""

'\nEste comentario\ntiene varias líneas\n'

In [13]:
l = [1,2,3]
l.append(4) #int
l.append(5.0) #float
l # [1,2,3,4,5.0]

[1, 2, 3, 4, 5.0]

In [14]:
string_test = "casa"

In [15]:
b = ",".join(string_test)

In [16]:
b

'c,a,s,a'

In [17]:
string_test

'casa'

In [ ]:
def clean_list(l):
    new_l = []
    for e in l:
        if e != 4:
            new_l.append(e)
    return new_l

In [18]:
type(l)

list

In [19]:
str(13)

'13'

In [20]:
a = "Vives en la calle 13"

In [21]:
c = a.split()

In [22]:
c

['Vives', 'en', 'la', 'calle', '13']

In [23]:
c[0]

'Vives'

In [24]:
c[-1]

'13'

In [25]:
c[1:3] # El último elemento es exclusivo

['en', 'la']

In [30]:
e = 12
v= 5
e/v

2.4

In [31]:
2 ** 3

8

In [33]:
a = int(input())
if a % 2 == 0:
    print('Multiple of 2')
elif a % 3 == 0:
    print('Multiple of 3')
else: 
    print('Not multiple of 2 nor 3')

4
Multiple of 2

In [35]:
# range(init, end, step)
print(range(5,20,2))

range(5, 20, 2)

In [36]:
A = range(5)

In [37]:
A

range(0, 5)

In [38]:
B = ['a','b','c','d','e']

In [39]:
B

['a', 'b', 'c', 'd', 'e']

In [41]:
for C,D in enumerate(['A','B']):
    print(C,D)

0 A
1 B